.userlist {
    
    margin: 1rem;
    padding: 1rem;
    background-color: #5f0e08;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    text-align: center;
    color: white;
  }
  
.userlist h2 {
    font-size: 2rem;
    color: #f7e702;
  }
  
  .userlist h3 {
    color: #eccf77;
    margin: 0;
    font-size: 1rem;
  }
  .userlist h5 {
    color: #773108;
    margin: 0;
  }
  .userlist p {
    color: #0ca507;
    margin: 0;
  }